///////////
// GRID // 
////////// 
@mixin grid(
    $rows: 0, $columns: 0, 
    $flow: 0, 
    $auto-rows: 0, $auto-columns: 0,  
    $plc-items: 0, 
    $jt-items: 0, $al-items: 0, 
    $plc-content: 0,
    $jt-content: 0, $al-content: 0, 
    $gap: 0) 
{
    display: grid;

    // *** In most of the cases just if both aren't falsey they'll be printed in a shorthand, otherwise whatever is the individual property...will be printed *** // 

    // *** LAYOUT *** //
    @if $rows and $columns != 0 {
        grid: $rows / $columns;
    } @else if $rows != 0 {
        grid-template-rows: $rows;
    } @else if $columns != 0 {
        grid-template-columns: $columns;
    }

    // *** AUTO *** //
    @if $flow != 0 {
        grid-auto-flow: $flow;
    }
    @if $auto-rows != 0 {
        grid-auto-rows: $auto-rows;
    }
    @if $auto-columns != 0 {
        grid-auto-columns: $auto-columns;
    }

    // *** ITEMS *** //
    @if $plc-items != 0 {
        place-items: $plc-items;
    } @else if $jt-items != 0 {
        justify-items: $jt-items;
    } @else if $al-items != 0 {
        align-items: $al-items;
    }

    // *** CONTENT *** // 
    @if $plc-content != 0 {
        place-content: $plc-content;
    } @else if $jt-content != 0 {
        justify-content: $jt-content;
    } @else if $al-content != 0 {
        align-content: $al-content;
    }
}

//////////////
// FLEXBOX // 
///////////// 
@mixin flexbox($direction: 0, $wrap: 0, $jt-content: 0, $al-items: 0, $gap: 0) {
    display: flex;
 
    // *** In most of the cases just if both aren't falsey they'll be printed in a shorthand, otherwise whatever is the individual property...will be printed *** // 
    
    // *** LAYOUT *** //
    @if $direction and $wrap != 0 {
        flex-flow: $direction $wrap;
    } @else if $direction != 0 {
        flex-direction: $direction;
    } @else if $wrap != 0 {
        flex-wrap: $wrap;
    }

    // *** AXISES *** //
    @if $jt-content != 0 {
        justify-content: $jt-content;
    }
    @if $al-items != 0 {
        align-items: $al-items;
    }

    // *** GAP *** //
    @if $gap != 0 {
        gap: $gap;
    }
}
